@import url('https://googleapis.com');
@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --font-heading: "Geist", "sans-serif";
  --font-body: "Inter", sans-serif;
  --font-alt: "Open Sans", sans-serif;
  --font-sans: "Geist", "sans-serif";
  --font-heading: "Geist", "sans-serif";

  --animate-slide-up-fade: slideUpFade 1s cubic-bezier(0.16, 1, 0.3, 1) forwards;

  @keyframes slideUpFade {
    0% { transform: translateY(34px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1.5; }
  }
}


/* 1. Correct Google Fonts Import Link */
/* @import url('https://googleapis.com');

@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));


@theme {

  --font-heading: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --font-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --font-alt: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

  --animate-slide-up-fade: slideUpFade 1s cubic-bezier(0.16, 1, 0.3, 1) forwards;

  @keyframes slideUpFade {
    0% { 
      transform: translateY(34px); 
      opacity: 0; 
    }
    100% { 
      transform: translateY(0); 
      opacity: 1; 
  }
} */